/*browser style reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Body*/

.header {
	color: white;
	font-size: 300%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 10px;
	margin-left: 10px;
}

.subheader {
	color: white;
	font-style: italic;
	font-weight: 100;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 70px;
	margin-top: 5px;
}

.topBar {
	width: 100%;
	height: 15%;
	position: fixed;
	top: : 0px;
	left: 0px;
	background-color: darkgreen;
}

.content {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 85%;
	z-index: 1;
}


/* Stats Panel */

.statsPanel {
	position: fixed;
	height: 85%;
	float: left;
	width: 300px;
	background-color: #ffffd6;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}

.statsPanel h3 {
	font-size: 150%;
	text-align: left;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}

.statsHeader {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	margin-top: 35px;
}

.statsLabel {
	font-size: 85%;
	font-style: italic;
	text-align: center;
	color: gray;
}

.fanStatus {
	position: absolute;
	width: 150px;
	height: 150px;
	float: left;
}

.fanPic {
	width: 100px;
	height: 100px;
	display: block;
	margin-top: 15px;
	margin-left: 25px;
	margin-right: auto;
}

.lightStatus {
	position: absolute;
	left: 150px;
	width: 150px;
	height: 150px;
	float: left;
}

.lightPic {
	width: 100px;
	height: 100px;
	display: block;
	margin-left: 25px;
	margin-top: 15px;
	margin-right: auto;
}

.ambientTemp {
	position: absolute;
	margin-top: 150px;
	width: 150px;
	height: 20%;
	float: left;
}

.soilMoisture {
	position: absolute;
	margin-top: 150px;
	left: 150px;
	width: 150px;
	height: 20%;
	float: left;
}

.lastWater {
	position: absolute;
	margin-top: 250px;
	width: 300px;
	height: 20%;
	float: left;
}

.statsTimestamp {
	font-size: 175%;
	font-weight: bold;
	text-align: center;
	margin-top: 15%;
}

.lastReading {
	position: absolute;
	margin-top: 350px;
	width: 300px;
	height: 20%;
	float: left;
}


/* Data Panel */

.dataPanel {
	position: fixed;
	height: 85%;
	left-margin: 300px;
	width: 100%;
	bottom: 0px;
	right: 0px;
	background-color: lightgray;
}

.tempResults {
	position: fixed;
	bottom: 40%;
	right: 0%;
	height: 45%;
	width: 35%; 
	border: solid 0.5px black;
}

.soilMoistureResults {
	position: fixed;
	bottom: 40%;
	right: 35%;
	height: 45%;
	width: 35%; 
	border: solid 0.5px black;
}

.lightingSchedule {
	position: fixed;
	bottom: 0%;
	right: 0%;
	height: 40%;
	width: 70%;	
	border: solid 0.5px black;
}



